<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.listen.rx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".RxBasicActivity"/>
        <activity android:name=".RxMapActivity"/>
        <activity android:name=".RxThreadSwitchActivity"/>
        <activity android:name=".RxFlatMapActivity"/>
        <activity android:name=".RxMergeActivity"/>
        <activity android:name=".RxFilterActivity"/>
        <activity android:name=".RxTakeActivity"/>
        <activity android:name=".RxIntervalActivity"/>
        <activity android:name=".RxSortActivity"/>
        <activity android:name=".RxConnectActivity"/>
        <activity android:name=".RxTimestampActivity"/>
        <activity android:name=".RxEditTextActivity"/>
        <activity android:name=".RxButtonActivity"/>
    </application>

</manifest>